html{
    height:34em;
    width:95%;
    margin: auto;
    margin-top: 2em;
}
body {
    background: url("img/fond.gif") no-repeat 50% 50%;
    background-color: black;
    padding-right: 10%;
    padding-left: 10%;
    height: 100%;
    margin:0;
}
main{
    height: 100%;
}
.acFlexEnd{
    align-content: flex-end;
}
.fxRow{
    display:flex;
}
.fxColumn{
    flex-direction: column;
}
.jsSpaceAround{
    justify-content: space-around;
}
.jsSpaceBetween{
    justify-content: space-between;
}
.scaleX{
    transform: scaleX(-1);
}
.txtalignr{
    text-align: right;
}
.heightmax{
    height:100%;
}
.heighthalf{
    height:50%;
}
.hpname{
    font-variant-caps: small-caps;
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Stencil Std, fantasy";
    color:white;
    letter-spacing: 0.2em;
    text-shadow: 1px 2px 5px #000;
    margin:0;
}
.posabsolut{
    position:absolute;
}
.widthfull{
    width: 100%;
}
.barreStructure{
    height:1.7em;
    width:15em;
    border: 2px inset #b29a18;
    box-shadow: 0 0 0.5em yellow;
}
#hpone{
    transform: rotate(3deg) skewX(15deg);
}
#hptwo{
    transform: rotate(-3deg) skewX(165deg);
}
.interieureHp{
    background-image: linear-gradient(to bottom , #5bad00, green, seagreen);
    width:100%;
    max-width: 100%;
    min-width: -20%;
    height: 100%;
}
.mana{
    height: 0.5em;
    width: 45%;
    border: 2px inset #4d4dff;
    border-right: none;
    border-top: none;

}
#colormanaR{
    background-image: linear-gradient(to bottom , #000080, #0000cc, #4d4dff);
    width:0%;
    max-width: 100%;
}
#colormanaL{
    background-image: linear-gradient(to bottom , #000080, #0000cc, #4d4dff);
    width:0%;
    max-width: 100%;
}

.ninjagirl{
    animation: ninjaGirlStop 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
    position:relative;
}
.ninjagirljumpattack{ 
    animation: ninjagirlljumpattack 1s;
    animation-timing-function: step-end;
    height:9em;
    width:6em;
    position:absolute;
}
.ninjagirlattack{
    animation: ninjagirllattack 1s;
    animation-timing-function: step-end;
    height:9em;
    width:7em;
    position:absolute;
}
.ninjaboy{
    animation: ninjaBoyStop 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
    position:relative;
}
.ninjaboyattack{
    animation: ninjaboyattack 1s;
    animation-timing-function: step-end;
    height:8em;
    width:8em;
    position:absolute;
}

.ninjaboyjumpattack{ 
    animation: ninjaboyjumpattack 1s;
    animation-timing-function: step-end;
    height:9em;
    width:8em;
    position:absolute;
}

.electrHp{
    animation: electrHp 1s;
    animation-timing-function: step-end;
    width:100%;
    position:absolute;
}

.ninjadamag{
    animation: ninjaboydamag 1s;
    animation-timing-function: step-end;
    height:7em;
    width:4em;
    position:relative;
}

@keyframes ninjaBoyStop{
    0%{
        background-image: url(img/ninjab/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjab/stop2.png);

    }
    30%{
        background-image: url(img/ninjab/stop3.png);

    }
    40%{
        background-image: url(img/ninjab/stop4.png);

    }
    50%{
        background-image: url(img/ninjab/stop5.png);

    }
    60%{
        background-image: url(img/ninjab/stop6.png);

    }
    70%{
        background-image: url(img/ninjab/stop7.png);

    }
    80%{
        background-image: url(img/ninjab/stop8.png);

    }
    90%{
        background-image: url(img/ninjab/stop9.png);

    }
    100%{
        background-image: url(img/ninjab/stop10.png);
    }
}

@keyframes ninjaboyattack{
    0%{
        background-image: url(img/ninjab/attack1.png);
        background-size: 8em 8em;
        margin-left: -26%;
        margin-top: -0.3em;
    }
    20%{
        background-image: url(img/ninjab/attack2.png);
        margin-left: -26%;
    }
    30%{
        background-image: url(img/ninjab/attack3.png);
        margin-left: -26%;
    }
    40%{
        background-image: url(img/ninjab/attack4.png);
        margin-left: -26%;
    }
    50%{
        background-image: url(img/ninjab/attack5.png);
        margin-left: -26%;
    }
    60%{
        background-image: url(img/ninjab/attack6.png);
        margin-left: -26%;
    }
    70%{
        background-image: url(img/ninjab/attack7.png);
        margin-left: -26%;        
    }
    80%{
        background-image: url(img/ninjab/attack8.png);
        margin-left: -26%;
    }
    90%{
        background-image: url(img/ninjab/attack9.png);
        margin-left : -26%;
    }
    100%{
        background-image: url(img/ninjab/attack10.png);
        margin-left: -26%;
    }
}

@keyframes ninjaboyjumpattack{
    0%{
        background-image: url(img/ninjab/jumpattack0.png);
        background-size: 8em 9em;
        margin-top: 0;
        margin-left: -26%;
    }
    20%{
        background-image: url(img/ninjab/jumpattack1.png);
        margin-top: -3em;
        margin-left: -26%;
    }
    30%{
        background-image: url(img/ninjab/jumpattack2.png);
        margin-top: -5em;
        margin-left: -26%;
    }
    40%{
        background-image: url(img/ninjab/jumpattack3.png);
        margin-top: -5em;
        margin-left: -26%;
    }
    50%{
        background-image: url(img/ninjab/jumpattack4.png);
        margin-top : -3em;
        margin-left: -26%;

    }
    60%{
        background-image: url(img/ninjab/jumpattack5.png);
        margin-top : -3em;
        margin-left: -26%;
    }
    70%{
        background-image: url(img/ninjab/jumpattack6.png);
        margin-top : -3em;
        margin-left: -26%;        
    }
    80%{
        background-image: url(img/ninjab/jumpattack7.png);
        margin-top : -3em;
        margin-left: -26%;
    }
    90%{
        background-image: url(img/ninjab/jumpattack8.png);
        margin-top : -1em;
        margin-left : -26%;
    }
    100%{
        background-image: url(img/ninjab/jumpattack9.png);
        margin-top: 0;
        margin-left: -15%;
    }
}

@keyframes ninjaboydamag{
    0%{
        background-image: url(img/ninjab/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/damage.png);
        background-size: 2000% 1000%;
        background-position: 0% 63%;

    }
    30%{
        background-image: url(img/ninjab/stop3.png);

    }
    40%{
        background-image: url(img/damage.png);
        background-size: 2000% 1000%;
        background-position: 0% 63%;

    }
    50%{
        background-image: url(img/ninjab/stop5.png);

    }
    60%{
        background-image: url(img/damage.png);
        background-size: 2000% 1000%;
        background-position: 0% 63%;

    }
    70%{
        background-image: url(img/ninjab/stop7.png);

    }
    80%{
        background-image: url(img/damage.png);
        background-size: 2000% 1000%;
        background-position: 0% 63%;

    }
    90%{
        background-image: url(img/ninjab/stop9.png);

    }
    100%{
        background-image: url(img/damage.png);
        background-size: 2000% 1000%;
        background-position: 0% 63%;
    }
}

@keyframes ninjaGirlStop{
    0%{
        background-image: url(img/ninjag/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjag/stop2.png);

    }
    30%{
        background-image: url(img/ninjag/stop3.png);

    }
    40%{
        background-image: url(img/ninjag/stop4.png);

    }
    50%{
        background-image: url(img/ninjag/stop5.png);

    }
    60%{
        background-image: url(img/ninjag/stop6.png);

    }
    70%{
        background-image: url(img/ninjag/stop7.png);

    }
    80%{
        background-image: url(img/ninjag/stop8.png);

    }
    90%{
        background-image: url(img/ninjag/stop9.png);

    }
    100%{
        background-image: url(img/ninjag/stop10.png);
    }
}

@keyframes ninjagirllattack{
    0%{
        background-image: url(img/ninjag/attack1.png);
        background-size: 7em 9em;
        margin-left: 0;
        margin-top: -1.3em;
    }
    20%{
        background-image: url(img/ninjag/attack2.png);
        margin-left: 26%;
    }
    30%{
        background-image: url(img/ninjag/attack3.png);
        margin-left: 26%;
    }
    40%{
        background-image: url(img/ninjag/attack4.png);
        margin-left: 26%;
    }
    50%{
        background-image: url(img/ninjag/attack5.png);
        margin-left: 26%;
    }
    60%{
        background-image: url(img/ninjag/attack6.png);
        margin-left: 26%;
    }
    70%{
        background-image: url(img/ninjag/attack7.png);
        margin-left: 26%;        
    }
    80%{
        background-image: url(img/ninjag/attack8.png);
        margin-left: 26%;
    }
    90%{
        background-image: url(img/ninjag/attack9.png);
        margin-left : 26%;
    }
    100%{
        background-image: url(img/ninjag/attack10.png);
        margin-left: 15%;
    }
}

@keyframes ninjagirlljumpattack{
    0%{
        background-image: url(img/ninjag/jumpattack0.png);
        background-size: 6em 9em;
        margin-top: 0;
        margin-left: 0;
    }
    20%{
        background-image: url(img/ninjag/jumpattack1.png);
        margin-top: -3em;
        margin-left: 26%;
    }
    30%{
        background-image: url(img/ninjag/jumpattack2.png);
        margin-top: -5em;
        margin-left: 26%;
    }
    40%{
        background-image: url(img/ninjag/jumpattack3.png);
        margin-top: -5em;
        margin-left: 26%;
    }
    50%{
        background-image: url(img/ninjag/jumpattack4.png);
        margin-top : -3em;
        margin-left: 26%;

    }
    60%{
        background-image: url(img/ninjag/jumpattack5.png);
        margin-top : -3em;
        margin-left: 26%;
    }
    70%{
        background-image: url(img/ninjag/jumpattack6.png);
        margin-top : -3em;
        margin-left: 26%;        
    }
    80%{
        background-image: url(img/ninjag/jumpattack7.png);
        margin-top : -3em;
        margin-left: 26%;
    }
    90%{
        background-image: url(img/ninjag/jumpattack8.png);
        margin-top : -1em;
        margin-left : 26%;
    }
    100%{
        background-image: url(img/ninjag/jumpattack9.png);
        margin-top: 0;
        margin-left: 15%;
    }
}

@keyframes electrHp{
    0%{
        background-image: url(img/electro.png);
        background-position: 0% 98.5%;
        background-size: 900% 1900%;
        margin-top: 0;
        margin-left: 0;
    }
    14.28%{
        background-image: url(img/electro.png);
        background-position: 14% 98.5%;
    }
    28.56%{
        background-image: url(img/electro.png);
        background-position: 28% 98.5%;
    }
    42.74%{
        background-image: url(img/electro.png);
        background-position: 42% 98.5%;
    }
    57.02%{
        background-image: url(img/electro.png);
        background-position: 56% 98.5%;
    }
    71.3%{
        background-image: url(img/electro.png);
        background-position: 70% 98.5%;
    }
    85.58%{
        background-image: url(img/electro.png);
        background-position: 84% 98.5%;
    }
    100%{
            background-image: url(img/electro.png);
        background-position: 98% 98.5%;
    }
}