html{
    height:34em;
    width:95%;
    margin: auto;
    margin-top: 2em;
}
body {
    background: url("img/fond.gif") no-repeat 50% 50%;
    background-color: black;
    padding-right: 10%;
    padding-left: 10%;
    height: 100%;
    margin:0;
}
main{
    height: 100%;
}
.acFlexEnd{
    align-content: flex-end;
}
.fxRow{
    display:flex;
}
.fxColumn{
    flex-direction: column;
}
.jsSpaceAround{
    justify-content: space-around;
}
.txtalignr{
    text-align: right;
}
.hpname{
    font-variant-caps: small-caps;
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Stencil Std, fantasy";
    color:white;
    letter-spacing: 0.2em;
    text-shadow: 1px 2px 5px #000;
    margin:0;
}
#players{
    width: 100%;
    margin-bottom: 1em;
}
#barrehp div div{
    height:1.7em;
    width:15em;
    background-color: #008000;
    border: 2px inset #b29a18;
    box-shadow: 0 0 0.5em yellow;
}
#hpone{
    transform: rotate(3deg) skewX(15deg);
}
#hptwo{
    transform: rotate(-3deg) skewX(165deg);
}
.ninjagirl{
    animation: ninjaGirlStop 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
    position:relative;
    
}
.ninjaboy{
    animation: ninjaBoyStop 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
    position:relative;
}
@keyframes ninjaGirlStop{
    0%{
        background-image: url(img/ninjag/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjag/stop2.png);

    }
    30%{
        background-image: url(img/ninjag/stop3.png);

    }
    40%{
        background-image: url(img/ninjag/stop4.png);

    }
    50%{
        background-image: url(img/ninjag/stop5.png);

    }
    60%{
        background-image: url(img/ninjag/stop6.png);

    }
    70%{
        background-image: url(img/ninjag/stop7.png);

    }
    80%{
        background-image: url(img/ninjag/stop8.png);

    }
    90%{
        background-image: url(img/ninjag/stop9.png);

    }
    100%{
        background-image: url(img/ninjag/stop10.png);
    }
}

@keyframes ninjaBoyStop{
    0%{
        background-image: url(img/ninjab/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjab/stop2.png);

    }
    30%{
        background-image: url(img/ninjab/stop3.png);

    }
    40%{
        background-image: url(img/ninjab/stop4.png);

    }
    50%{
        background-image: url(img/ninjab/stop5.png);

    }
    60%{
        background-image: url(img/ninjab/stop6.png);

    }
    70%{
        background-image: url(img/ninjab/stop7.png);

    }
    80%{
        background-image: url(img/ninjab/stop8.png);

    }
    90%{
        background-image: url(img/ninjab/stop9.png);

    }
    100%{
        background-image: url(img/ninjab/stop10.png);
    }
}